<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PhoneManagement.Properties.Settings.QLDIENTHOAIConnectionString"
            connectionString="Data Source=.;Initial Catalog=QLDIENTHOAI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>